body {
  margin: auto;
  padding: 2rem;
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  background-image: linear-gradient(#99ccff, #ffff99);
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 200%;
}
h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 150%;
}

#city, #flag, #hill, #ruins  {
    text-align: center;
    font-size: 150%;
    margin: auto;
    max-width: 900px;
}

/* Portrait */
@media screen and (max-width: 700px) {
  img {
    width: 100%;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .text {
    padding: 1rem;
  }
}
